body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo{
display: flex;
align-items: center;

}
.Menu{
    display: flex;
    align-items: center;
}
nav ul, nav li{
    list-style: none;
    margin:0;
    padding: 0;
}
nav ul{
    display: flex ;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    font-family: Arial;
    text-transform: uppercase;
    color: #727272;
}
nav .active a, 
nav a:hover{
    color: #ffffff;
    background-color: #39eae1;
    

}
#banner{
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}
.column{
        flex-direction: column;
}
.banner-headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.banner-headline h1{
    color: #ffffff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555 ;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner-headline h2{
    color: #ffffff;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555 ;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;

}
.banner-options{
    height: 210px;
    display: flex;
    
   
}
.banner1, .banner2, .banner3{
    flex: 1;
    color: #ffffff;
    padding: 20px;
}
.banner1{
    background-color: #39aae1 ;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99 ;
}
.banner_title{
    color: white;
    font-size: 21px;
    
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner-options a{
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}
.div1,
.div2,
.div3 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #7e7a7a70;
}
#geral{
    display: flex;
    justify-content: center;

}
#geral section{
    flex: 2;


}
#geral aside{
    flex: 1;
}
.widget_title{
    margin-top:30px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: #000000;
    font-size:21px;
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}
.contact{
    padding-bottom: 30px;
    border-bottom: 1px solid #72727270;
}
.contact_type{
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #727270;
}
.img_contact{
    height: 15px;
    width: 15px;
}
.Departments_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Departments {
    height: 150px;
    width: 150px;
    background-color: dodgerblue;
    margin-bottom: 30px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex:1;
    min-width: 300px;
    margin-right: 20px;
}
article a{
    text-decoration: none;
}
article .news_data{
    display: flex;
}
article .news_posted_at{
    background-color: #2b4c99 ;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
}
article .news_comments{
    background-color: #39aae1 ;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_thumbnail{
    margin-top: 30px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
    
}
article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}
article .news_resume{
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}
footer {
    display: flex;
    background-color: #1e1e1e;
    justify-content: center;
    height: 200px;

}
.footer_menu{
    display: flex;
    flex: 1;
}
.fm_1, .fm_2, .fm_3{
    flex: 1;
    color: #ffffff;
    padding: 20px;
}
.fm_1{
    background-color: #39aae1 ;
}
.fm_2{
    background-color: #0079c7;
}
.fm_3{
    background-color: #2b4c99 ;
}